@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  background: theme("colors.black");
  color: theme("colors.neutral.100");
}

input,
textarea, select {
  background: theme("colors.neutral.900");
  color: theme("colors.neutral.100");
}
